header{
    background-image: url('../images/bg.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.dropdown-menu{
    left: -120px !important;
}

iframe{
    margin-top: 50px;
}

.card-body{
    background-color: #e2f3f5 !important;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardBody{
    max-height: 25px;
    overflow: hidden;
}

